h1{
	text-align: center
}

nav li{

	display: inline;
	list-style: none;
	background-color: grey;
	border: 1px solid black;
	text-align: center;
	color: white;
	margin: 20px;
	padding: 10px 50px

}

nav{
	
	display: flex;
	justify-content: center;
  
}

